body,html {
    width: 100%;
    height: 1550px;
    margin: 0px;
    padding: 0px;
    background-color: #f3f3f3;
    font-family: 'Orator Std Medium','Microsoft JhengHei';
}
/* 導覽列 */
.nav {
    color: #f3f3f3;
    background-color: none;
    position: relative;
    z-index: 1;
}
.nav:hover {
    color: #c4b6b6;
}
ul {
    margin-right: 120px;
    padding: 0px;
    text-align: right;
    vertical-align: middle;
    background-color: none;
}
ul li {
    display: inline-block;
    margin-left: 30px;
}
/* 平面設計封面 */

#banner_bg {
    width: 100%;
    height: 550px;
    position: relative;
    margin-top: -4.2%;
}

#banner_phonecase {
    width: 100%;
    height: 550px;
    z-index: 0;
    background-color: #a78a7f;
    overflow: hidden;
    position: fixed;
    background-image: url(/il_bn.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

/* 作品集 */
.work {
    width: 100%;
    height: 1100px;
    position: absolute;
    background-color: #c4b6b6;
}
.banner {
    width: 100%;
    height: 650px;
    overflow: hidden;
    background-color: #f3f3f3;
    z-index: 1;
    text-align: center;
}
.banner img {
    height: 100%;
    z-index: 1;
}

.mug {
    width: 20%;
    height: 305px;
    overflow: hidden;
    position: relative;
    left: 15%;
    top: 4.5%;
    background-color: #a78a7f;
    float: left;
    z-index: 1;
}
.mug img {
    height: 115%;
    position: relative;
    right: 26%;
    bottom: 12%;
    z-index: 0;
}
.airpods {
    width: 20%;
    height: 305px;
    overflow: hidden;
    position: relative;
    left: 20%;
    top: 4.5%;
    background-color: #a78a7f;
    float: left;
}

.airpods img {
    height: 100%;
    position: absolute;
}

.phonecase {
    width: 20%;
    height: 305px;
    overflow: hidden;
    position: relative;
    left: 25%;
    top: 4.5%;
    background-color: #a78a7f;
    float: left;
}
.phonecase img {
    height: 100%;
    position: absolute;
}

/* 聯絡我 */
.footer {
    width: 100%;
    height: 50px;
    background-color: #a78a7f;
    z-index: 2;
    position: relative;
    top: 70%;
}
.mail {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 210px;
    right: 30px;
    z-index: 2;
}
.fb {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    right: 30px;
    z-index: 2;
}
.ig {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 90px;
    right: 30px;
    z-index: 2;
}
/* 返回頂端按鈕 */
.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    color: #f3f3f3;
    font-size: 30px;
    outline-style: none;
    transition: background-color 0.4s;
    background-color: #a78a7f;
    border: solid #f3f3f3 2px;
    border-radius: 999em;
    display: none;
    z-index: 99;
}
.back-to-top:hover {
    color: #a78a7f;
    background-color: #f3f3f3;
    border: solid #a78a7f 2px;
    cursor: pointer;
}
