body, html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #f3f3f3;
}

.header {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .work {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .work .bn {
    width: 100%;
    margin-top: 20px;
  }
  .work .una_1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .work .una_1 img {
    margin-top: 20px;
    width: 30%;
    outline: dashed #a78a7f 2px;
    outline-offset: 5px;
  }
  .work .una_2 {
    width: 100%;
    margin-top: 40px;
  }
  .work .una_3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .work .una_3 #big {
    width: 69.95%;
  }
  .work .una_3 #small {
    width: 30.05%;
  }
  .work .cutline {
    width: 100%;
    overflow: hidden;
  }
  .work .cutline img {
    align-self: start;
    height: 35px;
  }
  .work .out {
    width: 100%;
    height: 250px;
    position: relative;
    margin-top: 20px;
    background-color: #463333;
  }
  .work .out .namecard {
    width: 25%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #f3f3f3;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }
  .work .out .namecard .bg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 90%;
    background-color: #a78a7f;
  }
  .work .out .namecard .bg .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 100%;
    mix-blend-mode: darken;
  }
  .work .out .namecard .bg .inner .img {
    width: 45%;
    transform: rotateY(0deg);
    transition: ease-in-out 1s;
  }
  .work .out .namecard .bg .inner h3 {
    color: #463333;
    display: none;
    font-size: 15px;
  }
  .work .out .namecard:hover > .bg > .inner > img {
    transform: rotateY(180deg);
    transition: ease-in-out 1s;
  }
  .work .out .namecard:hover > .bg > .inner > h3 {
    display: block;
  }
  .work .project {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .work .project div {
    width: 30%;
    height: 310px;
    overflow: hidden;
  }
  .work .project div img {
    width: 100%;
    transition: ease-in-out 1s;
  }
  .work .project div img:hover {
    width: 110%;
  }
  .work .anybeam {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .work .anybeam img {
    width: 48%;
  }

  .mail {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 210px;
    right: 30px;
  }

  .fb {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    right: 30px;
  }

  .ig {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 90px;
    right: 30px;
  }

  .back-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #f3f3f3;
    font-size: 30px;
    transition: background-color 0.4s;
    outline-style: none;
    background-color: #a78a7f;
    border: solid #f3f3f3 2px;
    border-radius: 999em;
    display: none;
  }
  .back-to-top:hover {
    color: #a78a7f;
    background-color: #f3f3f3;
    border: solid #a78a7f 2px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .work {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .work .bn {
    width: 100%;
    margin-top: 15px;
  }
  .work .una_1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .work .una_1 img {
    margin-top: 15px;
    width: 30%;
    outline: dashed #a78a7f 2px;
    outline-offset: 5px;
  }
  .work .una_2 {
    width: 100%;
    margin-top: 30px;
  }
  .work .una_3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .work .una_3 #big {
    width: 69.95%;
  }
  .work .una_3 #small {
    width: 30.05%;
  }
  .work .cutline {
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
  }
  .work .cutline img {
    align-self: start;
    height: 40px;
  }
  .work .out {
    width: 100%;
    height: 250px;
    position: relative;
    margin-top: 15px;
    background-color: #463333;
  }
  .work .out .namecard {
    width: 25%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #f3f3f3;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }
  .work .out .namecard .bg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 90%;
    background-color: #a78a7f;
  }
  .work .out .namecard .bg .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 100%;
    mix-blend-mode: darken;
  }
  .work .out .namecard .bg .inner .img {
    width: 45%;
    transform: rotateY(0deg);
    transition: ease-in-out 1s;
  }
  .work .out .namecard .bg .inner h3 {
    color: #463333;
    font-size: 12px;
  }
  .work .out .namecard:active > .bg > .inner > img {
    transform: rotateY(180deg);
    transition: ease-in-out 1s;
  }
  .work .project {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  .work .project div {
    width: 30%;
  }
  .work .project div img {
    width: 100%;
  }
  .work .anybeam {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .work .anybeam img {
    width: 48%;
  }

  .mail {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 210px;
    right: 30px;
  }

  .fb {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    right: 30px;
  }

  .ig {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 90px;
    right: 30px;
  }

  .back-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #f3f3f3;
    font-size: 30px;
    transition: background-color 0.4s;
    outline-style: none;
    background-color: #a78a7f;
    border: solid #f3f3f3 2px;
    border-radius: 999em;
    display: none;
  }
  .back-to-top:hover {
    color: #a78a7f;
    background-color: #f3f3f3;
    border: solid #a78a7f 2px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 767px) {
  .work {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .work .bn {
    width: 100%;
    margin-top: 10px;
  }
  .work .una_1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  .work .una_1 img {
    width: 100%;
  }
  .work .una_2 {
    width: 100%;
    margin-top: 20px;
  }
  .work .una_3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .work .una_3 img {
    width: 100%;
    margin-top: 20px;
  }
  .work .cutline {
    width: 100%;
    overflow: hidden;
  }
  .work .cutline img {
    align-self: start;
    height: 30px;
  }
  .work .out {
    width: 100%;
    height: 250px;
    position: relative;
    margin-top: 20px;
    background-color: #463333;
  }
  .work .out .namecard {
    width: 25%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #f3f3f3;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  }
  .work .out .namecard .bg {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 90%;
    background-color: #a78a7f;
  }
  .work .out .namecard .bg .inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 100%;
    mix-blend-mode: darken;
  }
  .work .out .namecard .bg .inner .img {
    width: 45%;
    transform: rotateY(0deg);
    transition: ease-in-out 1s;
  }
  .work .out .namecard .bg .inner h3 {
    color: #463333;
    font-size: 12px;
  }
  .work .out .namecard:active > .bg > .inner > img {
    transform: rotateY(180deg);
    transition: ease-in-out 1s;
  }
  .work .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .work .project div {
    width: 100%;
  }
  .work .project div img {
    width: 100%;
    margin-top: 20px;
  }
  .work .anybeam {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .work .anybeam img {
    width: 100%;
  }

  .mail {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 30px;
    opacity: 0.5;
  }

  .fb {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 90px;
    opacity: 0.5;
  }

  .ig {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 150px;
    opacity: 0.5;
  }

  .back-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 210px;
    color: #f3f3f3;
    font-size: 30px;
    transition: background-color 0.4s;
    outline-style: none;
    background-color: #a78a7f;
    border: solid #f3f3f3 2px;
    border-radius: 999em;
    display: none;
    opacity: 0.5;
  }
  .back-to-top:active {
    color: #a78a7f;
    background-color: #f3f3f3;
    border: solid #a78a7f 2px;
    opacity: 0.8;
  }
}