body,html {
    width: 100%;
    margin: 0px;
    background-color: #f3f3f3;
    font-family: 'Microsoft JhengHei';
}

@media only screen and (min-width:1200px){
/* 頁首 */
    .bn {
        width: 100%;
    }
    /* 作品_una */
    .work {
        width: 100%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    .una_bn {
        width: 70%;
        background-color: #f3f3f3;
        margin-top: 15px;
    }
    .una_bn img {
        width: 100%;
    }
    .una_1 {
        width: 69%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    .una_1 img {
        width: 30%;
        background-color: #f3f3f3;
        outline: dashed #a78a7f 2px;
        outline-offset: 5px;
    }
    .una_2 {
        width: 70%;
        background-color: #f3f3f3;
        margin-top: 20px;
    }
    .una_2 img {
        width: 100%;
    }
    .una_3 {
        width: 70%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    .cutline {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        overflow: hidden;
        margin-top: 5px;
    }
    #cut {
        align-self: start;
        height: 40px;
    }
    #long {
        width: 30.05%;
    }
    #new4 {
        width: 69.95%;
    }
    /* 作品_商品 */
    .project {
        width: 70%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 15px;
    }
    .project div {
        width: 30%;
        height: 310px;
        overflow: hidden;
    }
    .project div>img {
        width: 100%;
        transition: ease-in-out 1s;
    }
    .project div>img:hover {
        width: 110%;
    }
    /* 作品_anybeam */
    .anybeam {
        width: 70%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .anybeam img {
        width: 49%;
    }
}
@media only screen and (min-width:768px){
    /* 頁首 */
    .bn {
        width: 100%;
    }
    /* 作品_una */
    .work {
        width: 100%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    .una_bn {
        width: 70%;
        background-color: #f3f3f3;
        margin-top: 15px;
    }
    .una_bn img {
        width: 100%;
    }
    .una_1 {
        width: 69%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    .una_1 img {
        width: 30%;
        background-color: #f3f3f3;
        outline: dashed #a78a7f 2px;
        outline-offset: 5px;
    }
    .una_2 {
        width: 70%;
        background-color: #f3f3f3;
        margin-top: 20px;
    }
    .una_2 img {
        width: 100%;
    }
    .una_3 {
        width: 70%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    .cutline {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        overflow: hidden;
        margin-top: 5px;
    }
    #cut {
        align-self: start;
        height: 40px;
    }
    #long {
        width: 30.05%;
    }
    #new4 {
        width: 69.95%;
    }
    /* 作品_商品 */
    .project {
        width: 70%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 15px;
    }
    .project div {
        width: 30%;
    }
    .project div>img {
        width: 100%;
    }
    /* 作品_anybeam */
    .anybeam {
        width: 70%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .anybeam img {
        width: 49%;
    }
}
@media only screen and (max-width:767px){
    /* 頁首 */
    .bn {
        width: 100%;
    }
    /* 作品_una */
    .work {
        width: 100%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    .una_bn {
        width: 80%;
        background-color: #f3f3f3;
        margin-top: 10px;
    }
    .una_bn img {
        width: 100%;
    }
    .una_1 {
        width: 80%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .una_1 img {
        width: 100%;
        background-color: #f3f3f3;
        margin-top: 10px;
    }
    .una_2 {
        width: 80%;
        background-color: #f3f3f3;
        margin-top: 10px;
    }
    .una_2 img {
        width: 100%;
    }
    .una_3 {
        width: 80%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .cutline {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        overflow: hidden;
        margin-top: 5px;
    }
    #cut {
        align-self: start;
        height: 28px;
    }
    #long {
        width: 100%;
    }
    #new4 {
        width: 100%;
    }
    /* 作品_商品 */
    .project {
        width: 80%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .project div {
        width: 100%;
        margin-top: 10px;
    }
    .project div>img {
        width: 100%;
    }
    /* 作品_anybeam */
    .anybeam {
        width: 80%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .anybeam img {
        width: 100%;
        margin-top: 10px;
    }
}
/* 聯絡我 */
.footer {
    width: 100%;
    height: 50px;
    background-color: #a78a7f;
}

.mail {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 210px;
    right: 30px;
}
.fb {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    right: 30px;
}
.ig {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 90px;
    right: 30px;
}
/* 返回頂端按鈕 */
.back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    color: #f3f3f3;
    font-size: 30px;
    outline-style: none;
    transition: background-color 0.4s;
    background-color: #a78a7f;
    border: solid #f3f3f3 2px;
    border-radius: 999em;
    display: none;
}
.back-to-top:hover {
    color: #a78a7f;
    background-color: #f3f3f3;
    border: solid #a78a7f 2px;
    cursor: pointer;
}